
 <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>Repository Name</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <%@repositories.each do |repo|%>
                                      <tr>
                                        
                                          <td><a href="<%=assignment_repository_path(:assignment_id=>repo.assignment.id,:id=>repo.name)%>"><%=repo.name%></a></td>
                                        
                                      </tr>
                                    
                                      <%end%>
                                  </tbody>
                              </table>